.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    padding: 10px 25px 10px 20px;
    border-bottom: 1px solid lightgray;
    align-items: center;
    background-color: white;
}